#container{
	width:100%;
}

#header{
	width:100%;
	height:228px;
	margin:0 auto;
	text-align:center;
	/*margin-bottom:20px;*/
	padding-top:10px;
	background: url(header.jpg) no-repeat center #000;
}

#menu{
	width:100%;
	height:30px;
	margin:0 auto;
	text-align:center;
	margin-bottom:20px;
	padding-top:5px;
	background: #2D485B;
	color:#fff;
}
#menu a:link{
	color:#fff;
}
#menu a:visited{
	color:#fff;
}

a img{
	border:0;
}

#main{
	width:900px;
	margin:0 auto;
	/*border:1px solid #000;*/
	margin-bottom:20px;
	
}

#footer{
	width:100%;
	height:50px;
	background:#DCDCDC;
	margin:0 auto;
	text-align:center;
	padding-top:10px;
	margin-top:20px;
}

#product{
	width:270px;
	border:1px solid #A0A0A0;
	float:left;
	margin-left:8px;
	margin-bottom:10px;
}
#product:hover{
	border:1px solid #6495ED;

}

#producttop{
	margin-top:10px;
}
#productbottom{
	margin-top:10px;
	text-align:justify;
	padding:5px;
}

.css-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
	background-color: #78FA89;
}