<div id="main" style="width:300px;margin:0 auto" ng-controller="OrderCntr as main">
	<h3 align="center">Please input your data</h3>
	<form novalidate class="css-form">
    Name: <input type="text" ng-model="user.name" class="form-control" placeholder="Name input" required /><br />
    E-mail: <input type="email" ng-model="user.email" required class="form-control" placeholder="E-mail input"/><br />
    Gender:<br /> 
	<input type="radio" ng-model="user.gender" value="male" />male&nbsp;&nbsp;&nbsp;
    <input type="radio" ng-model="user.gender" value="female" />female<br /><br />
    <p align="center"><input ng-click="main.order(user)" type="submit" class="btn btn-success" style="width:200px;" value="Order" /></p>
  </form>
  
</div>